* {
    background-color: #589dc9;
}

img {
    max-width: 300px;
    height: auto;
    border: solid burlywood 5px;
    border-radius: 50%;
    margin-left: 80px;

    /* make a circle on left */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    margin: 0 10px;
    color: burlywood;
}

header {
    color: #333;
    ;
}

h1 {
    margin: 20px 90px;
}

.header {}

.mypic {}

section {
    background-color: #FAF9F6
}

h2 {
    background-color: #FAF9F6
}

.article {
    background-color: #FAF9F6
}

article {
    background-color: #FAF9F6
}

p {
    background-color: #FAF9F6
}

/* < !-- make media queries for iPad and Phone (and others?) --> */